APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:h5QJYmVzDDNF3ZoX+VycIV7sfJ/6P2OA/Ku6TcW+k8I=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=larabbs
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

API_STANDARDS_TREE=prs
API_SUBTYPE=larabbs
API_PREFIX=api
API_VERSION=v1
API_DEBUG=true

YUNPIAN_API_KEY=f4d97d2e11e5f57c06f78621469c2f27

WEIXIN_KEY=wx930b1da6a0c5b526
WEIXIN_SECRET=de8eb76468ccaeb796a99d3b06b47517
WEIXIN_REDIRECT_URI=larabbs.dev

JWT_SECRET=fkxZCx1RK05rh70vwgrJMEVFfh0O4q6l

WECHAT_MINI_PROGRAM_APPID=wxbe7fda67744c9cea
WECHAT_MINI_PROGRAM_SECRET=5811e50497395d079897e31a558c2b30


